@model SiakWebApps.Models.MasterDistrict

<form asp-action="Create" id="createDistrictForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="ProvinceId" class="control-label">Province</label>
        <select id="ProvinceId" name="ProvinceId" class="form-control" asp-items="@(ViewData["Provinces"] as SelectList)">
            <option value="">-- Select Province --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="KotaId" class="control-label">City</label>
        <select asp-for="KotaId" class="form-control">
            <option value="">-- Select Province First --</option>
        </select>
        <span asp-validation-for="KotaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nama" class="control-label"></label>
        <input asp-for="Nama" class="form-control" />
        <span asp-validation-for="Nama" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#ProvinceId').change(function () {
            var provinceId = $(this).val();
            var citySelect = $('#KotaId');
            citySelect.empty();
            citySelect.append('<option value="">-- Loading... --</option>');

            if (provinceId) {
                $.getJSON('/MasterDistricts/GetCitiesByProvince/' + provinceId, function (data) {
                    citySelect.empty();
                    citySelect.append('<option value="">-- Select City --</option>');
                    $.each(data, function (index, item) {
                        citySelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                });
            } else {
                citySelect.empty();
                citySelect.append('<option value="">-- Select Province First --</option>');
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}