<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3 class="sidebar-brand">SIAK</h3>
        <button type="button" id="sidebarCollapseClose" class="btn btn-link d-lg-none">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/">Dashboard</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#masterDataSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-database"></i>
                Master Data
            </a>
            <ul class="collapse list-unstyled" id="masterDataSubmenu">
                <li><a href="/Teachers">Teachers</a></li>
                <li><a href="/Parents">Parents</a></li>
                <li><a href="/MasterBudgetCategories">Budget Categories</a></li>
                <li><a href="/MasterGenders">Genders</a></li>
                <li><a href="/MasterProvinces">Provinces</a></li>
                <li><a href="/MasterCities">Cities</a></li>
                <li><a href="/MasterDistricts">Districts</a></li>
                <li><a href="/MasterSubdistricts">Subdistricts</a></li>
                <li><a href="/SchoolYears">School Years</a></li>
            </ul>
        </li>

        <li>
            <a href="#academicSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-graduation-cap"></i>
                Academic
            </a>
            <ul class="collapse list-unstyled" id="academicSubmenu">
                <li><a href="/AcademicYears">Academic Years</a></li>
                <li><a href="/Semesters">Semesters</a></li>
                <li><a href="/Classes">Classes</a></li>
                <li><a href="/Subjects">Subjects</a></li>
                <li><a href="/Rooms">Rooms</a></li>
            </ul>
        </li>

        <li>
            <a href="#userManagementSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                User Management
            </a>
            <ul class="collapse list-unstyled" id="userManagementSubmenu">
                <li><a href="/MenuApps">Menu Application</a></li>
                <li><a href="/RoleMenuAccess">Group Akses</a></li>
                <li><a href="/Users">Users</a></li>
                <li><a href="/Students">Students</a></li>
                <li><a href="/Users">Users</a></li>
                <li><a href="/Roles">Roles</a></li>
            </ul>
        </li>

        <li>
            <a href="#registrationSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-user-plus"></i>
                Registration
            </a>
            <ul class="collapse list-unstyled" id="registrationSubmenu">
                <li><a href="/StudentRegistrations">Student Registrations</a></li>
                <li><a href="/StudentClasses">Student Classes</a></li>
                <li><a href="/StudentParents">Student Parents</a></li>
            </ul>
        </li>

        <li>
            <a href="#financialSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-money-bill-wave"></i>
                Financial
            </a>
            <ul class="collapse list-unstyled" id="financialSubmenu">
                <li><a href="/Expense">Expenses</a></li>
                <li><a href="/PaymentTransaction">Payment Transactions</a></li>
            </ul>
        </li>

        <li>
            <a href="#examSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-book"></i>
                Examination
            </a>
            <ul class="collapse list-unstyled" id="examSubmenu">
                <li><a href="/Exams">Exams</a></li>
                <li><a href="/StudentGrades">Student Grades</a></li>
                <li><a href="/StudentScholarships">Scholarships</a></li>
            </ul>
        </li>

        <li>
            <a href="#authSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-sign-in-alt"></i>
                Auth
            </a>
            <ul class="collapse list-unstyled" id="authSubmenu">
                <li><a href="/Auth/Login">Login</a></li>
                <li><a href="/Auth/Register">Register</a></li>
            </ul>
        </li>

        <li>
            <a href="#reportSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-chart-bar"></i>
                Reports
            </a>
            <ul class="collapse list-unstyled" id="reportSubmenu">
                <li><a href="#">Student Reports</a></li>
                <li><a href="#">Financial Reports</a></li>
                <li><a href="#">Academic Reports</a></li>
            </ul>
        </li>
    </ul>
</div>