@model SiakWebApps.Models.MasterSubdistrict

<form asp-action="Create" id="createSubdistrictForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="ProvinceId" class="control-label">Province</label>
        <select id="ProvinceId" name="ProvinceId" class="form-control" asp-items="@(ViewData["Provinces"] as SelectList)">
            <option value="">-- Select Province --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="CityId" class="control-label">City</label>
        <select id="CityId" name="CityId" class="form-control">
            <option value="">-- Select Province First --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="KecamatanId" class="control-label">District</label>
        <select asp-for="KecamatanId" class="form-control">
            <option value="">-- Select City First --</option>
        </select>
        <span asp-validation-for="KecamatanId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nama" class="control-label"></label>
        <input asp-for="Nama" class="form-control" />
        <span asp-validation-for="Nama" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        // Province dropdown change event
        $('#ProvinceId').change(function () {
            var provinceId = $(this).val();
            var citySelect = $('#CityId');
            var districtSelect = $('#KecamatanId');

            citySelect.empty().append('<option value="">-- Loading... --</option>');
            districtSelect.empty().append('<option value="">-- Select City First --</option>');

            if (provinceId) {
                $.getJSON('/MasterSubdistricts/GetCitiesByProvince/' + provinceId, function (data) {
                    citySelect.empty().append('<option value="">-- Select City --</option>');
                    $.each(data, function (index, item) {
                        citySelect.append($('<option>', { value: item.value, text: item.text }));
                    });
                });
            } else {
                citySelect.empty().append('<option value="">-- Select Province First --</option>');
            }
        });

        // City dropdown change event
        $('#CityId').change(function () {
            var cityId = $(this).val();
            var districtSelect = $('#KecamatanId');
            districtSelect.empty().append('<option value="">-- Loading... --</option>');

            if (cityId) {
                $.getJSON('/MasterSubdistricts/GetDistrictsByCity/' + cityId, function (data) {
                    districtSelect.empty().append('<option value="">-- Select District --</option>');
                    $.each(data, function (index, item) {
                        districtSelect.append($('<option>', { value: item.value, text: item.text }));
                    });
                });
            } else {
                districtSelect.empty().append('<option value="">-- Select City First --</option>');
            }
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}